<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAFE Blockchain API Documentation</title>
    <meta name="description" content="Main information about API">
</head>

<body>
    <div class="headline">
        <div>
            <div class="description">
                <h1>SAFE Blockchain API Documentation</h1>
                <p>This is an overview of the SAFE Blockchain API. Below are the listed endpoints detailing request and
                    response handling.
                    (Nowwww I understand, why people don't waste time styling API documentation...)</p>

                <a class="closeheader" title="Hide header" href="index.html">&nbsp;home</a>
            </div>

            <h2>Endpoints</h2>
            <ul>
                <li>
                    <a class="closeheader" title="Hide header" href="create.html">&nbsp;/create</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="chain.html">&nbsp;/chain</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="mine.html">&nbsp;/mine</a>
                </li>
            </ul>

            <h2>Create Endpoint</h2>
            <p>
                This endpoint is used to add a block to the user's blockchain.
            </p>

            <h3>Post Request</h3>
            <p>To add a new block to the user's blockchain, this endpoint is expecting a post request with a JSON body.
            </p>

            <h4>JSON Format</h4>
            {<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"userId" : &lt;string&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_token" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_url" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_category" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"institution_name" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"degree_name" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"date_range" : &lt;string&gt;,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"description" : &lt;string&gt;<br>
            }<br>

            <h4>Example</h4>
            {<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"userId" : "1",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_token" : "ddd77eb1-27a1-493d-85de-bf494fb4267a",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_url" :
            "https://www.credly.com/badges/ddd77eb1-27a1-493d-85de-bf494fb4267a?source=linked_in_profile",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"certificate_category" : "Education",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"institution_name" : "Coursera",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"degree_name" : "Google Data Analytics Professional Certificate",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"date_range" : "October 2021",<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"description" : "Learned BigQueary, R, Tableau, Data Narratives/Presentation, Data
            Life Cycle, etc."<br>
            }<br>
        </div>
    </div>
</body>

<footer>
    <br>
    <span>&copy; SAFE 2021</span>
</footer>

</html>