<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAFE Blockchain API Documentation</title>
    <meta name="description" content="Main information about API">
</head>

<body>
    <div class="headline">
        <div>
            <div class="description">
                <h1>SAFE Blockchain API Documentation</h1>
                <p>This is an overview of the SAFE Blockchain API. Below are the listed endpoints detailing request and
                    response handling.
                    (Nowwww I understand, why people don't waste time styling API documentation...)</p>

                    <a class="closeheader" title="Hide header" href="index.html">&nbsp;home</a>
            </div>

            <h2>Endpoints</h2>
            <ul>
                <li>
                    <a class="closeheader" title="Hide header" href="create.html">&nbsp;/create</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="chain.html">&nbsp;/chain</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="update.html">&nbsp;/update</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="delete.html">&nbsp;/delete</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="mine.html">&nbsp;/mine</a>
                </li>
                <li>
                    <a class="closeheader" title="Hide header" href="image.html">&nbsp;/image</a>
                </li>
            </ul>
        </div>
    </div>
</body>

<footer>
    <span>&copy; SAFE 2021</span>
</footer>

</html>